@media screen and (min-width: 1270px){
    .top-bar-logo-button {
        border: none;
    }
}

@media screen and (max-width: 1270px) {
    .left-side-bar{
        -webkit-transform: translate(-300px, 0);
        transform: translate(-300px, 0);
        transition: transform 0.3s ease;
    }
    
    .quote-and-state-container{
        left: 5%;
        width: 90%;
    }

    .top-bar-logo-button {
        width: 50px;
        height: 50px;
        background: url('./assets/hell/Hamburger_icon_Hell.png');
        background-size: 100%;
    }
}

@media screen and (max-width: 1055px) {
    .quote-and-state-container {
        display: inline-block;
        top: 18%;
        left: 3%;
        width: 94%;
    }

    .quote-container {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    .sins-container {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
}

/* For Phone Displays */
@media screen and (max-width: 420px) {
    .feeling-naughty-button {
        font-size: 12px;
        width: 50px;
        height: 50px;
    }

    .quote-and-state-container {
        top: 16%
    }

    .quote-title {
        margin-top: 2px;
        margin-bottom: 0px;
        font-size: 45px;
    }

    .quote {
        font-size: 23px;
        margin-top: 10px;
        margin-bottom: 0px;
        width: 85%;
    }

    .new-quote-button {
        margin-top: 20px;
        margin-bottom: 20px;
        height: 55px;
        width: 130px;
    }

    .sins-title {
        font-size: 50px;
    }

    .sin-button {
        margin: 20px;
        margin-top: 5px;
        width: 70px;
        height: 70px;
        font-size: 15px;
    }
}