@media screen and (min-width: 1270px){
    .top-bar-logo-button {
        border: none;
    }
}

@media screen and (max-width: 1270px) {
    .left-side-bar{
        -webkit-transform: translate(-300px, 0);
        transform: translate(-300px, 0);
        transition: transform 0.3s ease;
    }
    
    .quote-and-state-container{
        left: 5%;
        width: 90%;
    }

    .top-bar-logo-button {
        width: 50px;
        height: 50px;
        background: url('./assets/hell/Hamburger_icon_Hell.png');
        background-size: 100%;
    }
}

@media screen and (max-width: 1055px) {
    .quote-and-state-container {
        display: inline-block;
        top: 18%;
        left: 3%;
        width: 94%;
    }

    .quote-container {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    .sins-container {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    .credits-container {
        background: rgb(0, 0, 0);
        display: flex;
        flex-wrap: wrap;
        right: 0px;
        width: 100%;
        height: 30px;
        color: white;
        margin-top: 5px;
        order: 2;
    }

    #copywright-symbol {
        display: flex;
        height: 15px;
        width: 15px;
        background: url('./assets/Copywright.png');
        background-size: 100%;
        filter: invert(100%);
        margin-bottom: 0px;
        margin-top: 6px;
        margin-left: 10px;
        margin-right: 5px;
    }

    #name {
        display: flex;
        margin: 6px 0px 0px 0px;
    }

    #linkedin{
        display: flex;
        margin: 6px 10px 0px 10px;
        color: rgb(212, 0, 0);
    }

    #github {
        display: flex;
        margin: 6px 10px 0px 0px;
        color: rgb(212, 0, 0);
    }
}

/* For Phone Displays */
@media screen and (max-width: 420px) {
    .feeling-naughty-button {
        font-size: 12px;
        width: 50px;
        height: 50px;
    }

    .quote-and-state-container {
        top: 16%
    }

    .quote-title {
        margin-top: 2px;
        margin-bottom: 0px;
        font-size: 45px;
    }

    .quote {
        font-size: 23px;
        margin-top: 10px;
        margin-bottom: 0px;
        width: 85%;
    }

    .new-quote-button {
        margin-top: 20px;
        margin-bottom: 20px;
        height: 45px;
        width: 110px;
        font-size: 16px;
    }

    .sins-title {
        font-size: 50px;
    }

    .sin-button {
        margin: 20px;
        margin-top: 5px;
        /* margin-bottom: 10px; */
        width: 70px;
        height: 70px;
        font-size: 15px;
    }
}