body {
    background: url('./assets/Jheronimus_Bosch-The_Harrowing_of_Hell.jpg') no-repeat center center fixed black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
}


.title-container {
    background: rgba(255, 255, 255, 0.132);
    text-align: center;
    box-shadow: 4px 4px 4px 0 rgb(0, 0, 0);
    
    /* rounds corners */
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px; 
  }

.title-welcome {
    font-size: 100px;
    margin:0;
}

.title-welcome-subtitle-1 {
    font-size: 30px;
    margin:0;
}

.title-welcome-subtitle-2 {
    font-size: 18px;
}


.sins-container {
    background: rgba(255, 255, 255, 0.132);
    text-align: center;
    box-shadow: 4px 4px 4px 0 rgb(0, 0, 0);
    
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

.sins-title {
    font-size: 50px;
    margin: 0;
}

button {
    font-size: 15px;
    width: 80px;
    margin: 15px;

    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}


.quotes-container {
    background: rgba(255, 255, 255, 0.132);
    text-align: center;
    box-shadow: 4px 4px 4px 0 rgb(0, 0, 0);
    
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

.quote {
    background: rgba(233, 233, 233, 0.646);
    font-size: 20px;
    width: 50%;
    margin: 0 auto;

    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

.random-button {
    font-size: 13px;
    width: 120px;
    margin: 20px;
}